CLIENT_ID=""
CLIENT_SECRET=""
AIRPORT=""
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW_IMAGE_NAME=apache/airflow:2.10.5
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=""
_PIP_ADDITIONAL_REQUIREMENTS=boto3
GEN="ninja make"
S3_ENDPOINT="localhost:9000"
S3_REGION="us-east-1"
S3_URL_SSL_STYLE="path"
S3_USE_SSL=false
LAKEKEEPER_DB_USERNAME=""
LAKEKEEPER_DB_PASSWORD=""
LAKEKEEPER_ENCRYPTION_KEY=
CATALOG_ENDPOINT=""
