MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=""
S3_ENDPOINT=""
S3_REGION=""
S3_URL_SSL_STYLE=""
S3_USE_SSL=
LAKEKEEPER_DB_USERNAME=""
LAKEKEEPER_DB_PASSWORD=""
LAKEKEEPER_ENCRYPTION_KEY=
CATALOG_ENDPOINT=""
